<table>
	<%- @notams.each do |notam| %>
		<tr>
			<td>
				<%= notam.icao %>
			</td>
			<td>
				<%= notam.mon %>
			</td>
			<td>
				<%= notam.tue %>
			</td>
			<td>
				<%= notam.wed %>
			</td>
			<td>
				<%= notam.thu %>
			</td>
			<td>
				<%= notam.fri %>
			</td>
			<td>
				<%= notam.sat %>
			</td>
			<td>
				<%= notam.sun %>
			</td>
		</tr>
	<%- end %>
</table>