// Place all the styles related to the notams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
	border-collapse: collapse;
	font-family: Arial;
}

td {
	text-align: center;
	width: 100px;
	height: 40px;
	border: 1px solid black;
	padding: 10px;
}
